In [5]:
import datetime

date()

In [14]:
datetime.date(year: int, month: int, day: int)

SyntaxError: invalid syntax (2851169545.py, line 1)

In [9]:
from datetime import date
obj = date(2022, 12, 1)

In [10]:
obj.year

2022

In [11]:
obj.month

12

In [12]:
obj.day

1

time()
datetime.time(hour: int, minute: int, second: int)

In [29]:
 from datetime import time
obj = time(10, 20, 33)

datetime.time(0, 0)

In [21]:
obj.hour

10

In [22]:
obj.second

33

In [23]:
obj.microsecond

0

In [41]:
# obj.tzinfo for Time Zone

datetime()
datetime.datetime(year, month, day, hour, minute, second)

In [32]:
 from datetime import datetime
obj = datetime(2024, 12, 1, 15, 35, 59)

In [33]:
obj.year

2024

In [34]:
obj.month

12

In [35]:
obj.day

1

In [37]:
obj.hour

15

In [38]:
obj.minute

35

In [39]:
obj.second

59

In [44]:
#Now Time
now = datetime.now()
now

datetime.datetime(2022, 9, 25, 16, 33, 56, 822965)

In [45]:
now.year

2022

In [46]:
now.month

9

In [47]:
now.day

25

In [50]:
now.hour

16

In [51]:
now.minute

33

In [53]:
now.second

56

In [54]:
now.microsecond

822965

In [55]:
#Today Time or Now 
td = datetime.today()
td

datetime.datetime(2022, 9, 25, 16, 36, 37, 807577)

In [ ]:
# now can take a timezone object as an optional parameter:

In [56]:
from datetime import datetime, timezone
datetime.now(timezone.utc)

datetime.datetime(2022, 9, 25, 11, 7, 44, 935771, tzinfo=datetime.timezone.utc)

# strftime() and strptime()
You can easily transform between strings and datetime objects with the strftime and strptime methods.

strftime()
strftime allow us to create human formatted strings out of a Python datetime object:

In [59]:
now

datetime.datetime(2022, 9, 25, 16, 33, 56, 822965)

In [60]:
now.strftime("%d-%b-%Y")

'25-Sep-2022'

In [61]:
now.strftime("%d-%m-%Y")

'25-09-2022'

In [65]:
now.strftime("%m/%d/%Y")

'09/25/2022'

In [63]:
now.strftime("%d-%m-%Y")

'25-09-2022'

In [66]:
now.strftime("%b/%d/%Y - %H:%M:%S")

'Sep/25/2022 - 16:33:56'

In [86]:
#Month Year
now.strftime("%m/%Y")

'09/2022'

In [85]:
#Week Year
now.strftime("%W/%Y")

'38/2022'

find the strings passed to strftime to be a little strange, but it is pretty easy to understand its meaning. For example, %m/%d/%Y will return the month, day, and year separated by / (07/23/2022).

# strptime()
The strptime method creates a datetime object from a string.
This method accepts two parameters:
obj.strptime(datetime_string, format)
A string representing a datetime object.
The python format code equivalent to that string.

In [70]:
datetime_str = '12-Jul-2023'
datetime.strptime(datetime_str, '%d-%b-%Y')

datetime.datetime(2023, 7, 12, 0, 0)

In [97]:
datetime_str = 'Jul/12/2023 - 14:38:37'
datetime.strptime(datetime_str, "%b/%d/%Y - %H:%M:%S")

datetime.datetime(2023, 7, 12, 14, 38, 37)

In [140]:
datetime_str = '32/2021'
datetime.strptime(datetime_str,"%W/%Y")

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'int'

AttributeError: 'str' object has no attribute 'strftime'

# Format Codes
Directive	Meaning	Example
%a	Weekday as locale’s abbreviated name.	Sun, Mon, …, Sat (en_US)
%A	Weekday as locale’s full name.	Sunday, Monday, …, Saturday (en_US)
%w	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.	0, 1, …, 6
%d	Day of the month as a zero-padded decimal number.	01, 02, …, 31
%b	Month as locale’s abbreviated name.	Jan, Feb, …, Dec (en_US)
%B	Month as locale’s full name.	January, February, …, December (en_US)
%m	Month as a zero-padded decimal number.	01, 02, …, 12
%y	Year without century as a zero-padded decimal number.	00, 01, …, 99
%Y	Year with century as a decimal number.	0001, 0002, …, 2013, 2014, …, 9998, 9999
%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, …, 23
%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, …, 12
%p	Locale’s equivalent of either AM or PM.	AM, PM (en_US)
%M	Minute as a zero-padded decimal number.	00, 01, …, 59
%S	Second as a zero-padded decimal number.	00, 01, …, 59
%f	Microsecond as a decimal number, zero-padded on the left.	000000, 000001, …, 999999
%z	UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).	(empty), +0000, -0400, +1030, +063415, -030712.345216
%Z	Time zone name (empty string if the object is naive).	(empty), UTC, GMT
%j	Day of the year as a zero-padded decimal number.	001, 002, …, 366
%U	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, …, 53
%W	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, …, 53
%c	Locale’s appropriate date and time representation.	Tue Aug 16 21:30:00 1988 (en_US)
%x	Locale’s appropriate date representation.	08/16/88 (None)
%X	Locale’s appropriate time representation.	21:30:00 (en_US)
%%	A literal '%' character.	%

# timedelta()
The timedelta object represents the difference between two dates or times.

In [101]:
from datetime import datetime
>>> date_1 = datetime.strptime('12-Jul-2023', '%d-%b-%Y')
>>> date_2 = datetime.strptime('01-Jan-2024', '%d-%b-%Y')
>>> difference = date_2 - date_1
>>> difference

datetime.timedelta(days=173)

In [105]:
#nowtimedelta can add days, seconds and microseconds to a datetime object:
from datetime import datetime, timedelta
now = datetime.now()
now

datetime.datetime(2022, 9, 25, 17, 11, 10, 731510)

In [106]:
now + timedelta(days=10, seconds=15)

datetime.datetime(2022, 10, 5, 17, 11, 25, 731510)

In [156]:
str1='06/2021'
datetime.strptime(str1,"%W/%Y")

datetime.datetime(2021, 1, 1, 0, 0)

In [153]:
str1 + datetime_str

'20/202232/2021202020'